<app-navbar></app-navbar>
<div class="main">
    <!-- Navigation Bar -->
    

    <header class="menu-header">
        <h1>DineDash</h1>
        <p>Fine Dining Experience</p>
    </header>

    <div class="outside">
        <div class="menu-container">
            <!-- Appetizers -->
            <section class="menu-section" id="appetizers">
                <div class="category-header">
                    <span class="line"></span>
                    <h3>APPETIZERS</h3>
                    <span class="line"></span>
                </div>

                <div class="menu-grid">
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Four Cheese Garlic Bread</p>
                        <p class="item-price">$32</p>
                      </div>
                         <p class="item-description">Toasted French bread with Romano, cheddar, and mozzarella</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Four Cheese Garlic Bread</p>
                        <p class="item-price">$32</p>
                      </div>
                         <p class="item-description">Toasted French bread with Romano, cheddar, and mozzarella</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Four Cheese Garlic Bread</p>
                        <p class="item-price">$32</p>
                      </div>
                         <p class="item-description">Toasted French bread with Romano, cheddar, and mozzarella</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Four Cheese Garlic Bread</p>
                        <p class="item-price">$32</p>
                      </div>
                         <p class="item-description">Toasted French bread with Romano, cheddar, and mozzarella</p>
                    </div>
                </div>
                <img src="/assets/appetizer2.jpeg" class="category-image appetizers" alt="Appetizers Image">
            </section>

            <!-- Main Courses -->
            <section class="menu-section" id="main-courses">
                <div class="category-header">
                    <span class="line"></span>
                    <h3>MAIN COURSES</h3>
                    <span class="line"></span>
                </div>

                <div class="menu-grid">
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Roasted Lamb Rump</p>
                        <p class="item-price">$25</p>
                      </div>
                        <p class="item-description">Grilled lamb cutlets, pomegranate glaze, butternut squash</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Roasted Lamb Rump</p>
                        <p class="item-price">$25</p>
                      </div>
                        <p class="item-description">Grilled lamb cutlets, pomegranate glaze, butternut squash</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Roasted Lamb Rump</p>
                        <p class="item-price">$25</p>
                      </div>
                        <p class="item-description">Grilled lamb cutlets, pomegranate glaze, butternut squash</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Roasted Lamb Rump</p>
                        <p class="item-price">$25</p>
                      </div>
                        <p class="item-description">Grilled lamb cutlets, pomegranate glaze, butternut squash</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Roasted Lamb Rump</p>
                        <p class="item-price">$25</p>
                      </div>
                        <p class="item-description">Grilled lamb cutlets, pomegranate glaze, butternut squash</p>
                    </div>
                </div>
                <img src="/assets/swahili.jpeg" class="category-image mainCourse" alt="Main Course Image">
            </section>

            <!-- Desserts -->
            <section class="menu-section" id="desserts">
                <div class="category-header">
                    <span class="line"></span>
                    <h3>DESSERTS</h3>
                    <span class="line"></span>
                </div>

                <div class="menu-grid">
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Creole Cream Cheesecake</p>
                        <p class="item-price">$17</p>
                      </div>
                        <p class="item-description">Warm buttery caramel, chocolate drizzle, ice cream</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Creole Cream Cheesecake</p>
                        <p class="item-price">$17</p>
                      </div>
                        <p class="item-description">Warm buttery caramel, chocolate drizzle, ice cream</p>
                    </div>
                    <div class="subClass">
                      <div class="menu-item">
                        <p class="item-name">Creole Cream Cheesecake</p>
                        <p class="item-price">$17</p>
                      </div>
                        <p class="item-description">Warm buttery caramel, chocolate drizzle, ice cream</p>
                    </div>
                </div>
                <img src="/assets/chocolatte.jpeg" class="category-image desserts" alt="Desserts Image">
            </section>

            <!-- Beverages -->
            <section class="menu-section" id="beverages">
                <div class="category-header">
                    <span class="line"></span>
                    <h3>BEVERAGES</h3>
                    <span class="line"></span>
                </div>

                <div class="menu-grid">
                  <div class="subClass">
                    <div class="menu-item">
                      <p class="item-name">Signature Espresso</p>
                      <p class="item-price">$5</p>
                   </div>
                      <p class="item-description">Freshly brewed with Arabica beans</p>
                  </div>
                  <div class="subClass">
                    <div class="menu-item">
                      <p class="item-name">Signature Espresso</p>
                      <p class="item-price">$5</p>
                   </div>
                      <p class="item-description">Freshly brewed with Arabica beans</p>
                  </div>
                   
                </div>
                <img src="/assets/vinywaji.jpeg" class="category-image beverage" alt="Drinks Image">
            </section>
        </div>
    </div>
</div>
